@import 'settings';

.gallows {
  position: relative;

  &__bottom {
    height: 0.5vw;
    width: 12vw;
    background: $primary;
  }

  &__stand {
    height: 15vw;
    width: 0.5vw;
    background: $primary;
    margin-left: 6vw;
  }

  &__top {
    height: 0.5vw;
    width: 8vw;
    background: $primary;
    margin-left: 6vw;
  }

  &__hang {
    height: 3vw;
    width: 0.5vw;
    background: $primary;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__hangman-head {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    border: 0.5vw solid $secondary;
    position: absolute;
    top: 3vw;
    right: -0.75vw;
  }

  &__hangman {
    position: absolute;
    background: $secondary;

    &-body {
      @extend .gallows__hangman;
      width: 0.5vw;
      height: 4vw;
      top: 5vw;
      right: 0;
    }

    &-arm-right {
      @extend .gallows__hangman;
      width: 3vw;
      height: 0.5vw;
      top: 5.5vw;
      right: -3vw;
      rotate: 35deg;
      transform-origin: left top;
    }

    &-arm-left {
      @extend .gallows__hangman;
      width: 3vw;
      height: 0.5vw;
      top: 5.5vw;
      right: 0.5vw;
      rotate: -35deg;
      transform-origin: right top;
    }

    &-leg-right {
      @extend .gallows__hangman;
      width: 5vw;
      height: 0.5vw;
      top: 8.5vw;
      right: -5vw;
      rotate: 60deg;
      transform-origin: left top;
    }

    &-leg-left {
      @extend .gallows__hangman;
      width: 5vw;
      height: 0.5vw;
      top: 8.5vw;
      right: 0.5vw;
      rotate: -60deg;
      transform-origin: right top;
    }
  }
}
