@import 'settings';

.gallows {
  position: relative;

  &__bottom {
    height: 10px;
    width: 250px;
    background: $primary;
  }

  &__stand {
    height: 400px;
    width: 10px;
    background: $primary;
    margin-left: 120px;
  }

  &__top {
    height: 10px;
    width: 200px;
    background: $primary;
    margin-left: 120px;
  }

  &__hang {
    height: 50px;
    width: 10px;
    background: $primary;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__hangman-head {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid $secondary;
    position: absolute;
    top: 50px;
    right: -20px;
  }

  &__hangman {
    position: absolute;
    background: $secondary;

    &-body {
      @extend .gallows__hangman;
      width: 10px;
      height: 100px;
      top: 90px;
      right: 0;
    }

    &-arm-right {
      @extend .gallows__hangman;
      width: 70px;
      height: 10px;
      top: 110px;
      right: -70px;
      rotate: 35deg;
      transform-origin: left top;
    }

    &-arm-left {
      @extend .gallows__hangman;
      width: 70px;
      height: 10px;
      top: 107px;
      right: 6px;
      rotate: -35deg;
      transform-origin: right top;
    }

    &-leg-right {
      @extend .gallows__hangman;
      width: 100px;
      height: 10px;
      top: 185px;
      right: -100px;
      rotate: 60deg;
      transform-origin: left top;
    }

    &-leg-left {
      @extend .gallows__hangman;
      width: 100px;
      height: 10px;
      top: 185px;
      right: 10px;
      rotate: -60deg;
      transform-origin: right top;
    }
  }
}
